asn1crypto
backports.functools-lru-cache
beautifulsoup4
certifi
cffi
chardet
cryptography
cycler
decorator
enum34
epub
html2text
html5lib
idna
ipaddress
keyring
keyrings.alt
lxml
matplotlib
numpy
olefile
pexpect
Pillow
pkg-resources
ptyprocess
pyasn1
pycparser
pyinotify
pyparsing
PySocks
python-dateutil
pytz
pyxdg
scipy
scour
SecretStorage
six
webencodings
